@model List<UserPhoneApp.Models.User>

<h2>Пользователи</h2>

<p>
    <a asp-action="Create">+ Добавить пользователя</a>
    
</p>


@if (!Model.Any())
{
    <p>Пока нет пользователей.</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Email</th>
            <th>Дата рождения</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Name</td>
                <td>@u.Email</td>
                <td>@(u.DateOfBirth?.ToString("yyyy-MM-dd") ?? "-")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@u.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@u.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@u.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}